.table-header {
  margin-bottom: 1em;
}

.table-header-title {
  margin-bottom: 0;
}

.details {
  display: flex;
}

.details:not(:last-of-type) {
  margin-bottom: 1em;
}

.details-header {
  margin-right: 1em;
}

.details-info {
  background-color: #fff1f0;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action {
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  width: 100%;
}

.action-out {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}

.action-in {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
}
