body {
    font-weight: 300;
}

code {
    display: block;
    margin: 20px 0 15px 0;
    padding: 10px;
    background: #181E26;
}

.page {
    padding: 40px 0;
    margin: 0;
    min-height: calc(100vh - 134px);
}

.dapp {
    padding: 50px 0;
}

.footer {
    color: #fff;
    text-align: center;
    background-color: #11161C;
}

.clearfix {
    zoom: 1;
}

.market-loader {
    width: 80px;
    margin: auto;
}

.page-loader {
    width: 80px;
    margin: auto;
    position: absolute; /* To negate the footer height to make it visually centered */
    top: -60px;
    left: 0;
    bottom: 0;
    right: 0;
}

.text-center {
    text-align: center;
}

/* Ant overrides */
#market {
    .ant-select-arrow, .ant-calendar-picker-icon:after {
        color: #fff;
    }
    .custom-filter-dropdown {
        background: @body-background;
        border: 1px solid @primary-color;
    }
    .ant-alert-error {
        background-color: #611e19;
    }
    .ant-alert-info {
        background-color: @background-color-base;
    }
    .ant-steps-item-wait .ant-steps-item-icon {
        border-color: @primary-color;
    }
    .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
        color: @primary-color;
    }
    .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
        color: #000;
    }
    .ant-pagination-disabled a,
    .ant-pagination-disabled:hover a,
    .ant-pagination-disabled:focus a,
    .ant-pagination-disabled .ant-pagination-item-link,
    .ant-pagination-disabled:hover .ant-pagination-item-link,
    .ant-pagination-disabled:focus .ant-pagination-item-link {
        border-color: #444444;
        color: #444444;
    }
    .ant-input-number, .ant-select-selection, .ant-select-open .ant-select-selection {
        border: 1px solid #fff;
    }
    .ant-input-disabled {
        color: rgba(255, 255, 255, 0.45);
    }
    .ant-table-filter-dropdown {
        border: 1px solid @primary-color;
    }
    .ant-checkbox {
        color: #000;
    }
    .ant-checkbox-checked .ant-checkbox-inner:after {
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
    }
    .ant-calendar-selected-day .ant-calendar-date {
        color: #000;
    }
    .ant-calendar-picker-container {
        border: 1px solid @primary-color;
    }
    .ant-message-notice-content {
        background: #fff;
    }
    .ant-message {
        color: @body-background;
        top: 60px;
    }
    .ant-select-dropdown {
        border: 1px solid white;
    }
    .ant-popover {
        max-width: 350px;
        line-height: 25px;
        font-size: 13px;
        font-weight: 500;
    }
    .ant-popover-title {
        color: @body-background;
        border-bottom: 1px solid #adaeaf;
    }
    .ant-spin-blur {
        opacity: 0.25;
    }
}

/* Mobile screens */
@media only screen and (max-width: 40em) {
    .page {
        padding: 40px;
        margin: 0;
    }
}

