body {
    font-weight: 300;
}

code {
    display: block;
    margin: 20px 0 15px 0;
    padding: 10px;
    background: #181E26;
}

.page {
    padding: 40px 0;
    margin: 0;
    min-height: calc(100vh - 134px);
}

.dapp {
    padding: 50px 0;
}

.footer {
    color: #fff;
    text-align: center;
    background-color: #11161C;
}

.clearfix {
  zoom: 1;
}

.market-loader {
    width: 80px;
    margin: auto;
}
.page-loader {
    width: 80px;
    margin: auto;
    position: absolute; /* To negate the footer height to make it visually centered */
    top: -60px;
    left: 0;
    bottom: 0;
    right: 0;
}

.text-center {
    text-align: center;
}

/* Ant overrides */
#dapp {
    .ant-popover {
        max-width: 350px;
        line-height: 25px;
        font-size: 13px;
        font-weight: 500;
    }
    .ant-select-arrow, .ant-calendar-picker-icon:after {
        color: #fff;
    }
    .custom-filter-dropdown input {
        color: @body-background;
    }
    .ant-popover-title {
        color: @body-background;
        border-bottom: 1px solid #adaeaf;
    }
    .ant-alert-error {
        background-color: #611e19;
    }
    .ant-alert-info {
        background-color: @background-color-base;
    }
    .ant-steps-item-wait .ant-steps-item-icon {
        border-color: @primary-color;
    }
    .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
        color: @primary-color;
    }
    .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
        color: #000;
    }
}

.ant-message-notice-content {
    background: #fff !important;
}
.ant-message {
    color: @body-background !important;
}

/* Mobile screens */
@media only screen and (max-width: 40em) {
    .page {
        padding: 40px;
        margin: 0;
    }
}
