body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', 'Arial Narrow', sans-serif;
}

code {
    display: block;
    margin: 20px 0 15px 0;
    padding: 10px;
    background: #eee;
}

.landing {
    padding-bottom: 50px;
    background: #fff;
}

.dapp {
    padding: 50px 0;
    background: #fff;
}

.footer {
    color: #fff;
    text-align: center;
    background-color: #363636;
}

.clearfix {
  zoom: 1;
}

