body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', 'Arial Narrow', sans-serif;
}

h1, h2 {
    font-weight: 600;
}

code {
    display: block;
    margin: 20px 0 15px 0;
    padding: 10px;
    background: #eee;
}

.page {
    background: #fff;
    padding: 40px 0;
    margin: 0 10%;
    min-height: calc(100vh - 134px);
}

.dapp {
    padding: 50px 0;
    background: #fff;
}

.footer {
    color: #fff;
    text-align: center;
    background-color: #363636;
}

.clearfix {
  zoom: 1;
}